<div class="home-theme" ng-controller="guessWordController">
    <h1>Guess The Word</h1>

    <div id="definition-wrapper">
        <div ng-if="form.result != 'done'" ng-repeat="def in definition.listOfDefinitions">
            <p>{{def.pos.name}}</p>
            <p>- {{def.meaning}}</p>
        </div>
    </div>

    <div id="definition-form">
        <div ng-hide="form.result == 'done'">
            <input id="txtAnswer" class="answer" type="text" ng-model="form.enteredWord" placeholder="Enter word here..." />
            <button class="btn-primary" ng-click="getNextDefinition()">guess</button>
            <button class="btn-secondary" ng-click="skipQuestion()">skip</button>
        </div>
    </div>

    <p class="correct" ng-if="form.result == 'correct'">Correct :)</p>
    <p class="wrong" ng-if="form.result == 'wrong'">Wrong :(</p>

    <div id="score-wrapper">
        <span class="title">score</span>
        <span>{{form.score}}</span>
        <span class="title">points</span>
    </div>
</div>